**/__pycache__/
**/*desktop.ini
**secrets*
**/venv
**/.venv
pc_venv/
**/.idea/
**/secret*
**/__pycache__
__pycache__/
**/__pycache__/
**/__pycache__*
**/__pycache__/*
**/__pycache__/** */
all_types/__pycache__/**

#everything that ends with .geojson
**.geojson
**.rar

# IDE - VSCode
.vscode/
.DS_Store

# ignore log files of integration tests
tests/integration/test_logs/*
app.log

# Package build artifacts
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.whl
